.search-bar {
    display: flex;
    justify-content: center;
    margin: -20px 0;
  }
  
 .search-bar__input {
    padding: 10px;
    font-size: 16px;
    border-radius: 30%;

  }
  
  .search-bar__button {
    padding: 10px;
    font-size: 16px;
    border-radius: 30%;
  }
  